<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<%= form_for  User.new do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit %>
<% end %>

<% @users.each do |user| %>
  <%= user.username %>
  <%= user.password %>
  <br>
<% end %>
